<form action="<%= action %>" method="POST">
  <%= render "shared/errors", errors: flash[:errors], type: :base %>
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="username">Username</label>
    <input id="username" name="user[username]" value="<%= user.username %>">
  <%= render "shared/errors", errors: flash[:errors], type: :username %>
  <label for="password">Password</label>
    <input type="password" name="user[password]" id="password-input">
  <%= render 'shared/errors', errors: flash[:errors], type: :password %>
  <button class="button"><%= submit_text %></button>
</form>