<!DOCTYPE html>
<html>
  <head>
    <title>IMDb Clone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.spidermanURL = "<%= image_url('spiderman.png') %>";
    </script>
    <script type="text/javascript">
      window.licoricePizzaURL = "<%= image_url('licorice_pizza.jpg') %>";
    </script>
    <script type="text/javascript">
      window.goodBadURL = "<%= image_url('good_bad.jpg') %>";
    </script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
